nav {
    position: fixed;
    width: 100%;
    line-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul {
    float: right;
    margin: 0;
    padding-right: 42px;
    padding-top: 10px;
}

nav ul li {
    display: inline-block;
    padding: 0px 15px 20px 15px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    display: block;
    cursor: pointer;
}

nav ul li:not(:last-child):hover::before {
    content: "";
    position: absolute;
    top: 52px;
    background: #ffb400;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    left: calc(50% - 4px);
    animation: shake 0.42s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10% {
        transform: translate3d(-6px, 0, 0);
    }
}

.nav-logo {
    height: 32px;
    margin: 16px 48px;
    padding-top: 20px;
}

.description {
    p {
        font-size: 18px;
        line-height: 28px;
        color: #333;
        text-align: justify;
    }
}

nav.black {
    background: rgba(29, 43, 55, 0.9);
    z-index: 1;
}

#contact-button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    border: solid #ffb400;
    padding: 18px 38px;
    border-width: thin;
    background: transparent;
}

#contact-button:hover {
    background-color: #ffb400;
    color: #071e57;
    cursor: pointer;
}