html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #292c30;
    background-size: cover;
}

* {
    box-sizing: border-box;
}


