.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(138, 43, 226, 0.6);
    .urban-background {
        z-index: -1;
    }
}

.main {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: 22%;
    align-self: center;
}

.introduction {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: xxx-large;
    font-weight: 700;
    white-space: nowrap;
    p {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 2%;
        &.yellow {
            color: #ffb400;
        }
    }
}

.greeting {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #ff7979;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 0.9s steps(20, end), blink-caret .75s step-end infinite;
    -webkit-animation: typing 0.9s steps(20, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@-webkit-keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@-webkit-keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #ff7979;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #ff7979;
    }
}

nav {
    position: fixed;
    width: 100%;
    line-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul {
    float: right;
    margin: 0;
    padding-right: 42px;
    padding-top: 10px;
}

nav ul li {
    display: inline-block;
    padding: 0px 15px 20px 15px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    display: block;
    cursor: pointer;
}

nav ul li:not(:last-child):hover::before {
    content: "";
    position: absolute;
    top: 52px;
    background: #ffb400;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    left: calc(50% - 4px);
    animation: shake 0.42s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10% {
        transform: translate3d(-6px, 0, 0);
    }
}

.nav-logo {
    height: 32px;
    margin: 16px 48px;
    padding-top: 20px;
}

.description {
    p {
        font-size: 18px;
        line-height: 28px;
        color: #333;
        text-align: justify;
    }
}

nav.black {
    background: rgba(29, 43, 55, 0.9);
    z-index: 1;
}

#contact-button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    border: solid #ffb400;
    padding: 18px 38px;
    border-width: thin;
    background: transparent;
}

#contact-button:hover {
    background-color: #ffb400;
    color: #071e57;
    cursor: pointer;
}