.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(138, 43, 226, 0.6);
    .urban-background {
        z-index: -1;
    }
}

.main {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: 22%;
    align-self: center;
}

.introduction {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: xxx-large;
    font-weight: 700;
    white-space: nowrap;
    p {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 2%;
        &.yellow {
            color: #ffb400;
        }
    }
}

.greeting {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #ff7979;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 0.9s steps(20, end), blink-caret .75s step-end infinite;
    -webkit-animation: typing 0.9s steps(20, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@-webkit-keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@-webkit-keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #ff7979;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #ff7979;
    }
}